{% extends 'base.html' %}
{% load coment_tags %}
{% load crispy_forms_tags %}
{% block content %}
{% for text in custions %}
<p>{{text.body}}</p>
<p>{{text.user}}</p>
<p>{{text.date}}</p>
tow_respones
<p>{{text.tow_respones}}</p>
<a href="{% url 'coment:create' text.id %}"><button>repones</button></a>
<a href="{% url 'coment:custion_unlikes' text.id %}"><button>like</button></a>
<a href="{% url 'coment:custion_likes' text.id %}"><button>unlike</button></a>
<br>
{% tow_respones_count text %}
{% if text.user == request.user %}
<a href="{% url 'coment:custion_update' text.id %}">update</a>
<a href="{% url 'coment:custion_delete' text.id %}">delete</a>
{% endif %}
{% endfor %}
        <form  enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{form|crispy}}
          <input type="submit" value="create" class="btn btn-success">
    </form>
    {% endblock %}