{% extends 'base.html' %}
{% load coment_tags %}
{% load crispy_forms_tags %}
{% block content %}
{% for text in custions %}
<p>{{text.body}}</p>
<p>{{text.user}}</p>
<p>{{text.date}}</p>
tow_respones
<p>{{text.tow_respones}}</p>
<a href="{% url 'coment:create' text.id %}"><button class="btn btn-light">repones</button></a>
{% custion_like_count text %}

{% if user in text.likes.all %}
<a href="{% url 'coment:custion_likes' text.id %}"><img src="../../../media/site/off_like.jpg" style="width: 50px; height: 30px;"></a>
{% else %}
<a href="{% url 'coment:custion_likes' text.id %}"><img src="../../../media/site/on_like.jpg" style="width: 50px; height: 30px;"></a>
{% endif %}
{% custion_unlike_count text %}

{% if user in text.unlikes.all %}
<a href="{% url 'coment:custion_unlikes' text.id %}"><img src="../../../media/site/off_unlike.jpg" style="width: 50px; height: 30px;"></a>
{% else %}
<a href="{% url 'coment:custion_unlikes' text.id %}"><img src="../../../media/site/on_unlike.jpg" style="width: 50px; height: 30px;"></a>
{% endif %}
<br>

<br>
{% if text.user == request.user %}
<a href="{% url 'coment:custion_update' text.id %}"><button class="btn btn-warning">update</button></a>
<a href="{% url 'coment:custion_delete' text.id %}"><button class="btn btn-danger">delete</button></a>
{% endif %}
<p>-------------------------------</p>
{% endfor %}
        <form  enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{form|crispy}}
          <input type="submit" value="create" class="btn btn-success">
    </form>
    {% endblock %}