{% extends 'base.html' %}
{% load social_share %}
{% load myblog_tags %}

{% block content %}
    <h2>{{blog.titel}}</h2>
    <img src="{{blog.image.url}}">
    <p>{{blog.body}}</p>
    <p>{{blog.price}}</p>
    <p>{{blog.time}}</p>
    {% view_count blog %}
    <p>tags</p>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% for tag in tags %}
        <li class="breadcrumb-item"><a href="{% url 'appblog:tag_list' tag.id %}">{{tag}}</a></li>
        {% endfor %}
      </ol>
    </nav>
    <br>

    {% for post in appblogs %}
    <div class="card" style="width: 18rem;">
        <img src="{{post.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.titel}}</h5>
          <p class="card-text">{{post.price}}</p>
          <a href="{% url 'appblog:detail' post.id %}" class="btn btn-primary">detail</a>
        </div>
      </div>
      {% endfor %}


    <p>category</p>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% for cate in category %}
        <li class="breadcrumb-item"><a href="{% url 'appblog:category_list' cate.id %}"> {{cate.titel}} </a></li>
        {% endfor %}
      </ol>
    </nav>
    <br>
    <br>
    
{% if blog.author == request.user %}
    <a href="{% url 'appblog:update' blog.id %}"><button type="button" class="btn btn-warning">update</button></a>
    
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
  delete
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <h5 class="modal-title" id="exampleModalLabel">{{blog.titel}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        delete this post
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'appblog:delete' blog.id %}"><button type="button" class="btn btn-danger">delete</button></a>

      </div>
    </div>
  </div>
</div>
    {% endif %}
{% like_count blog %}
{% if user in blog.likes.all %}
<a href="{% url 'appblog:unlike' blog.id %}"><img src="../../../media/site/unlike.jpg" style="width: 50px; height: 30px;"></a>
{% else %}
<a href="{% url 'appblog:like' blog.id %}"><img src="../../../media/site/like.jpg" style="width: 50px; height: 30px;"></a>
{% endif %}
{% saveed_count blog %}
{% if request.user in blog.saved.all %}
<a href="{% url 'appblog:unsaved' blog.id %}"><img src="../../../media/site/saved.jpg" style="width: 50px; height: 30px;"></a>
{% else %}
<a href="{% url 'appblog:saved' blog.id %}"><img src="../../../media/site/save.jpg" style="width: 50px; height: 30px;"></a>
{% endif %}
       <!-- Button trigger modal -->

       <img data-bs-target="#staticBackdrop" data-bs-toggle="modal" src="../../../media/site/share.jpg" style="width: 50px; height: 30px;">


       <!-- Modal -->
       <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="staticBackdropLabel">share post whit</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
               {% post_to_facebook object_or_url '<img src="../../../media/site/facebook.jpg" style="width: 50px; height: 30px;">' %}
               {% post_to_twitter "New Song: {{blog.titel}}. Check it out!" object_or_url '<img src="../../../media/site/twitter.jpg" style="width: 50px; height: 30px;">' %}
               {% post_to_telegram "New Song: {{blog.titel}}. Check it out!" object_or_url '<img src="../../../media/site/telegram.jpg" style="width: 50px; height: 30px;">' %}
               {% post_to_whatsapp object_or_url '<img src="../../../media/site/watsapp.jpg" style="width: 50px; height: 30px;">' %}
               {% add_pinterest_script %}
               <a href="{% url 'blog:share' blog.id %}"><img src="../../../media/site/email.jpg" style="width: 50px; height: 30px;"> </a>
             </div>
           </div>
         </div>
       </div>

 <br>
    <p>create coments</p>
    <br>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-primary" type="submit" value="create">
    </form>
    <br>
    {% coment_count blog %}
    <p>coments</p>
    <br>
    {% for text in coments %}
    <p>{{text.body}}</p>
    <p>{{text.user}}</p>
    <p>{{text.date}}</p>
    {% blog_coment_like_count text %}
    {% blog_coment_unlike_count text %}
    {% if user in text.likes.all %}
<a href="{% url 'coment:likes' text.id %}"><img src="../../../media/site/off_like.jpg" style="width: 50px; height: 30px;"></a>
{% else %}
<a href="{% url 'coment:likes' text.id %}"><img src="../../../media/site/on_like.jpg" style="width: 50px; height: 30px;"></a>
{% endif %}
{% if user in text.unlikes.all %}
<a href="{% url 'coment:unlikes' text.id %}"><img src="../../../media/site/off_unlike.jpg" style="width: 50px; height: 30px;"></a>
{% else %}
<a href="{% url 'coment:unlikes' text.id %}"><img src="../../../media/site/on_unlike.jpg" style="width: 50px; height: 30px;"></a>
{% endif %}
    <br>
    {% if text.user == request.user %}
    <a href="{% url 'coment:update' text.id %} "><button class="btn btn-warning">update</button></a>
    <a href="{% url 'coment:delete' text.id %}"><button class="btn btn-danger">delete</button></a>
    {% endif %}
    <p>_____________________________________</p>
    {% endfor %}
        <script>
        const myModal = document.getElementById('myModal')
        const myInput = document.getElementById('myInput')
    
        myModal.addEventListener('shown.bs.modal', () => {
          myInput.focus()
    })
    </script>
    {% endblock %}