{% extends 'base.html' %}
{% load blog_tags %}
{% block content %}
    {% for post in blog %}
    <div class="card" style="width: 18rem;">
        <img src="{{post.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.titel}}</h5>
          <p id="price" class="card-text">{{post.price}}</p>
          <p id="discount" class="card-text">{{post.discount}}</p>
          <a href="{% url 'blog:detail' post.id %}" class="btn btn-primary">detail</a>
        </div>
      </div>
      <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        {% sum_sale {{post.price}}|{{post.discount}}|{{form.as_p}} %}
    {% endfor %} 
    {% for ddress in address %}
    <input type+"radio" name = "address" value = "{{ddress}}">
    {% endfor %}
    {% for number in numbers %}
    <input type+"radio" name = "number" value = "{{number}}">
    {% endfor %}
    <input type="submit" value="next">
</form>

    {% endblock %}
    


