{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex" method='get'>
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='search'>
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
  </div>
</nav>


        <form  enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{form|crispy}}
          <br>
          address
          {% for post in addresses %}
          <label>{{post.name}}</label>
          <input type="radio" name="address" value="{{post.name}}">
          {% endfor %}
          <br>
          category
          <br>
          {% for posts in category %}
          <label>{{posts.titel}}</label>
          <input type="checkbox" name="category" value="{{posts.titel}}">
          {% endfor %}
          <br>
          <br>
          brand
          <br>
          {% for posts in brands %}
          <label>{{posts.brand}}</label>
          <input type="checkbox" name="brand" value="{{posts.brand}}">
          {% endfor %}
          <br>
          <input type="submit" value="create">
    </form>
    <a href="{% url 'blog:create_category' %}">create category</a>
    {% endblock %}