{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <form class="d-flex" method='get'>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='search'>
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        </div>
      </nav>



      {% for post in advertising %}
          <a href="{% url 'blog:brand_list' post.brand.id %}"><img src="{{post.image.url}}"></a>
        {% endfor %}

    {% for post in blog %}
    <div class="card" style="width: 18rem;">
        <img src="{{post.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.titel}}</h5>
          <p class="card-text">{{post.price}}</p>
          <a href="{% url 'blog:detail' post.id %}" class="btn btn-primary">detail</a>
        </div>
      </div>
      {% endfor %}
 <p>-----------------------------------------------------------------------------------------</p>
    <p>discounts</p>
    {% for post in myblog %}
    <div class="card" style="width: 18rem;">
        <img src="{{post.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.titel}}</h5>
          <p class="card-text">{{post.price}}</p>
          <a href="{% url 'blog:detail' post.id %}" class="btn btn-primary">detail</a>
        </div>
      </div>
      {% endfor %}

<p>-----------------------------------------------------------------------------------------</p>
    <p>max_sale</p>
    {% for post in max_sale %}
    <div class="card" style="width: 18rem;">
        <img src="{{post.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.titel}}</h5>
          <p class="card-text">{{post.price}}</p>
          <a href="{% url 'blog:detail' post.id %}" class="btn btn-primary">detail</a>
        </div>
      </div>
      {% endfor %} 

      <p>-----------------------------------------------------------------------------------------</p>
    <p>max_brand</p>
    {% for post in max_brand %}

          <a href="{% url 'blog:brand_list' post.id %}" class="btn btn-primary">{{post.brand}}</a>

      {% endfor %}

      <p>-----------------------------------------------------------------------------------------</p>

      <p>max_category</p>
      {% for post in max_category %}
  
            <a href="{% url 'blog:category_list' post.id %}" class="btn btn-primary">{{post.brand}}</a>
  
        {% endfor %}
    {% endblock %}
