{% extends 'base.html' %}
{% load blog_tags %}
{% block content %}
    {% for post in item %}
    <div class="card" style="width: 18rem;">
        <img src="{{post.blog.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.blog.titel}}</h5>
          <p class="card-text">{{post.blog.price}}</p>
          <p class="card-text">{{post.blog.discount}}</p>
          <a href="{% url 'blog:detail' post.blog.id %}" class="btn btn-primary">detail</a>
          <a href="{% url 'blog:unshop' post.id %}">delete</a>
          <a href="{% url 'blog:item_update' post.id %}">update</a>
        </div>
        </div>        
    {% endfor %} 

    <form method="post">
      {% csrf_token %}
    {% for myaddress in address %}
    <label>{{myaddress.name}}</label>
    <input type="radio" name = "address" value = "{{myaddress.name}}">
    {% endfor %}
    <label>time</label>
    <input type="datetime-local" name = "time">
    <label>online</label>
    <input type="radio" name = "payment" value = "online">
    <label>cash</label>
    <input type="radio" name = "payment" value = "cash">
    <input type="submit" value="next">
</form>
    {% endblock %}
    


