{% extends 'base.html' %}
{% block content %}
    <h3>profile</h3>
    <labe>username</label>
    <h5>{{user.username}}</h5>
    <label>name</label>
    <p>{{user.name}}</p>
    <label>familie</label>
    <p>{{user.familie}}</p>
    <label>number</label>
    <p>{{user.number}}</p>
    <label>email</label>
    <p>{{user.email}}</p>
    <label>gender</label>
    <p>{{user.gender}}</p>
    <label>date_of_birth</label>
    <p>{{user.date_of_birth}}</p>
    <label>national_code</label>
    <p>{{user.national_code}}</p>
    <label>date_special</label>
    <p>{{user.date_special}}</p>
    <a href="{% url 'account:update' user.id %}"><button class="btn btn-warning">update</button></a>
    <a href="{% url 'account:change' user.id %}"><button class="btn btn-secondary">change password</button></a>

    <p>likes</p>
    {% for post in likes %}
    <div class="card" style="width: 18rem;">
        <img src="{{post.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.titel}}</h5>
          <p class="card-text">{{post.price}}</p>
          <a href="{% url 'blog:detail' post.id %}" class="btn btn-primary">detail</a>
        </div>
      </div>
      {% endfor %}
      <p>notifications</p>
      {% for post in notification %}
      <div class="card" style="width: 18rem;">
          <img src="{{post.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{post.titel}}</h5>
            <p class="card-text">{{post.price}}</p>
            <a href="{% url 'blog:detail' post.id %}" class="btn btn-primary">detail</a>
          </div>
        </div>
        {% endfor %}
        <p>address</p>
        {% for post in address %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{post.floor}}</h5>
              <p class="card-text">{{post.plaque}}</p>
            </div>
          </div>
          {% endfor %}
          <p>lists</p>
          {% for post in lists %}
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{post.titel}}</h5>
                <p class="card-text">{{post.body}}</p>
                <a href="{% url 'blog:detail_list' post.id %}">detail</a>
              </div>
            </div>
            {% endfor %}

            <p>noty</p>
            {% for post in nont %}

                  <p>{{post.titel}}</p>
                  <p>{{post.body}}</p>
              {% endfor %}
    
      {% if user.is_seller %}
      <p>companyseller</p>
            <p>{{companyseller.company_name}}</p>
            <br>
            <label>company_name</label>
            <p>{{companyseller.company_type}}</p>
            <br>
            <label>company_type</label>
            <p>{{companyseller.fixed_number}}</p>
            <br>
            <label>fixed_number</label>
            <p>{{companyseller.economic_code}}</p>
            <br>
            <label>economic_code</label>
            <p>{{companyseller.permission_to_sign}}</p>
            <br>
            <label>permission_to_sign</label>
        <p>selleraccount</p>
        <p>{{selleraccount.shop_name}}</p>
        <label>shop_name</label>
        <br>
        <p>{{selleraccount.shaba_number}}</p>
        <label>shaba_number</label>
        <br>
        <p>{{selleraccount.shop_number}}</p>
        <label>shop_number</label>
        <br>
        <p>{{selleraccount.shop_type}}</p>
        <label>shop_type</label>
        <br>
        <p>{{selleraccount.tax}}</p>
        <label>tax</label>
        <br>
    <p>seller</p>
    {% for post in seller %}
    <p>{{post.address}}</p>
    <p>{{post.price}}</p>
    <p>{{post.discount}}</p>
    <p>{{post.number}}</p>
    <p>{{post.garanty}}</p>
    <p>{{post.blog}}</p>
{% endfor %}
<p>color</p>
{% for post in color %}
<p>{{post.size}}</p>
<p>{{post.color}}</p>
<p>{{post.num}}</p>
<p>{{post.nums}}</p>
<p>{{post.blog}}</p>
{% endfor %}
      {% endif %}
{% endblock %}